@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --light-grey: #f5f6f7;
  --dark-blue: #0a0a23;
  --fcc-blue: #1b1b32;
  --light-yellow: #fecc4c;
  --dark-yellow: #feac32;
  --light-pink: #ffadad;
  --dark-red: #850000;
  --light-green: #acd157;
  --font-family: "Lato";
}

body {
  font-family: var(--font-family);
  font-size: 1rem;
  color: var(--light-grey);
  background: #1C1C33;
  background: linear-gradient(180deg, #1C1C33, #0A0A23);
  height: 100dvh;
}

h1{
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(135deg,#fecc4c, #feac32);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.container {
  width: 90%;
  max-width: 680px;
}

h1, .container, .output {
  margin: 20px auto;
}

label, legend {
  font-weight: bold;
}

.input-container {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  text-decoration: none;
  background-color: var(--light-yellow);
  border: 2px solid var(--dark-yellow);
}

button,
input,
select {
  min-height: 24px;
  color: var(--dark-blue);
}

fieldset,
label,
button,
input,
select {
  margin-bottom: 10px;
}

.output {
  border: 2px solid var(--light-grey);
  padding: 10px;
  text-align: center;
}

.hide {
  display: none;
}

.output span {
  font-weight: bold;
  font-size: 1.2em;
}

.surplus {
  color: var(--light-pink);
}

.deficit {
  color: var(--light-green);
}














